# ========================
# URL DAS APIS PARA REQUISIÇÃO
# ========================
URL_LICIT="https://seu-site-para-coleta-do-arquivo-json.com.br/api/licitacoes"
URL_DISPE="https://seu-site-para-coleta-do-arquivo-json.com.br/api/dispensa"

# ========================
# Inicialização PostgreSQL
# ========================
POSTGRES_DB=licit_monitor
POSTGRES_USER=postgres
POSTGRES_PASSWORD=troque_por_uma_senha_forte
POSTGRES_PORT=5433


# ========================
# Conexão do Collector
# ========================
DB_HOST=database
DB_PORT=5432
DB_NAME=licit_monitor
DB_USER=postgres
DB_PASSWORD=troque_por_uma_senha_forte
DB_CONNECT_TIMEOUT=10

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60