# ========================
# IDEs e Editores
# ========================
.idea/
.vscode/

# ========================
# Variáveis de Ambiente e Segredos
# ========================
.env
.env.*
!.env.example

# ========================
# Backups do PostgreSQL
# ========================
*.backup
*.dump
*.sql.gz

# ========================
# Arquivos de Log
# ========================
*.log

# ========================
# Arquivos Temporários
# ========================
*.tmp
*.temp

# ========================
# Ambientes Virtuais Python
# ========================
.venv/
venv/
env/

# ========================
# Sistema Operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# Bytecode Python
# ========================
__pycache__/
*.py[cod]
*$py.class